* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
      z-index:5;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0a05;
}

.logo {
      z-index:7;
    font-family: "Anton", serif;
    font-weight: bolder;
    font-size: 35px;
    color:orange;
    text-decoration: none;
    margin: 0px;
    border-radius:40PX;
}

nav ul {
   z-index:5;
    background-color: #070506;
}

nav ul li {
      z-index:5;
    font-family: "Cabin", serif;
    display: inline-block;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 15px;
}

nav ul li a {
      z-index:5;
    text-decoration: none;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

#toggler {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid #fff;
    display: none;
}

#toggler span {
    font-family: "Roboto", serif;
}

#navbar-form {
    position: relative;
    display: inline-flex;
    margin-right: 10px;
}

#search-form {
    display: inline-flex;
    width: 370px;
    height: 40px;
    position: absolute;
    right: 100%;
    transform: scale(0,0);
    transform-origin: center right;
    transition: 0.4s transform linear;
}

#search-bar {
    width: 200px;
    height: 40px;
    padding: 10px;
    color: rgb(236, 38, 38);
    font-size: 18px;
    margin-left:100px;
   
}

#search-btn {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
    background-color: #07fc07;
}

#search-form-opener {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
}

#search-form-closer {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(255, 1, 1);
    display: none;
}

#box-2:checked ~ #search-form {
    transform: scale(1,1);
}

#box-2:checked ~ #search-form-opener {
    display: none;
}

#box-2:checked ~ #search-form-closer {
    display: flex;
}

@media (max-width:786px) {
    #toggler {
        display: flex;
    }

    nav ul {
          z-index:5;
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        text-align: center;
        transition: 0.8s ease-in-out;
    }

    nav ul li {
          z-index:5;
        display: block;
        padding: 20px 0px;
    }

    #box-1:checked ~ ul {
        left: 0;
          z-index:5;
    }
}